<div class="container-fluid">
<div class="hero d-flex h_100 align-items-center">
    <div class="row">
        <div class="col-sm-6 my-auto">
          <div class=" ">
          <div class = "name">
         Page Not Found!
          </div>
          <div class = "desc mt-3 col-sm-9 p-0">
            It seems like the page that you are looking for is no longer here. Please click on Home button to visit my Portfolio.
          </div>
           <div class="button mt-4 pt-1">
            <button type = "button" class= "btn contact_button" (click)="goToHome()">Home</button>
           </div>
        </div>
      </div>

        <div class="col-sm-6 my-auto">
            <div class="d-flex justify-content-end mr-4">
            <img src="../../../../assets/images/not-found.gif" width="80%"
            class="img-responsive" alt="Not Found">
        </div>
        </div>
      </div>
    </div>
</div>