<div class="d-flex hero mt_30">
    <div class="container-fluid">
  <div class="mt-5 back-image_select text-center">
  <div class="name custom_space">All Projects</div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12">
      <div class="card card_custom">
        <div class="card-body">
       <div class="row">  
        <div class="col-sm-2 cab_image_small"></div>
        <div class="col-sm-4 text-center cab_image_small">
          <img src="../../../../assets/images/qmenu.svg" width="100%"
          class="img-responsive" alt="logo design">
        </div>
               <div class="col-sm-6">
          <h5 class="card-title card_heading">Food Ordering Application for Qmenu</h5>
          <p class="card-text desc  mt-3">Qmenu is a startup based in India, they need me to build a solution
             for restaurants and hotels to minimize contact between customers and hotel staff. 
            Also, they require one point of sale solution so that they can keep record of their sale and orders.</p>
          <div class="button mt-4 pt-1">
            <button type = "button" class= "btn contact_button" (click)="goToQmenu()">View Project</button>
           </div>
        </div>
        <div class="col-sm-2 cab_image"></div>
        <div class="col-sm-4 text-center pt-1 cab_image">
          <img src="../../../../assets/images/qmenu.svg" width="100%"
          class="img-responsive" alt="logo design">
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
  
  <div class="row mt-5 mb-5 pt-2">
    <div class="col-sm-12">
      <div class="card card_custom">
        <div class="card-body">
       <div class="row">  
        <div class="col-sm-2 cab_image_small"></div>
        <div class="col-sm-4 text-center cab_image_small">
          <img src="../../../../assets/images/car_rental.svg" width="100%"
          class="img-responsive" alt="logo design">
        </div>
               <div class="col-sm-6">
          <h5 class="card-title card_heading">Cubix Cab Booking Application</h5>
          <p class="card-text desc  mt-3">We already have a lot of Car Rental Application solutions. 
            The gap that I see on these solutions is that people have to pay the fare that is settled by the company and
             they can not bargain with the driver. 
            That's why I made a solution in which people can also make an offer. </p>
          <div class="button mt-4 pt-1">
            <button type = "button" class= "btn contact_button" (click)="goToCubix()">View Project</button>
           </div>
        </div>
        <div class="col-sm-2 cab_image"></div>
        <div class="col-sm-4 text-center pt-1 cab_image">
          <img src="../../../../assets/images/car_rental.svg" width="100%"
          class="img-responsive" alt="logo design">
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
  
  
 <!-- <div class="row mt-5 mb-5 pb-5  pt-2">
    <div class="col-sm-12">
      <div class="card card_custom">
        <div class="card-body">
       <div class="row">  
               <div class="col-sm-6">
          <h5 class="card-title card_heading">FlyMed Drone Delivery Solution</h5>
          <p class="card-text desc  mt-3">During a pandemic, people faced a lot of trouble in ordering medicines. So keeping this in mind I made a  "FlyMed" Drone Delivery solution so that people do not have to go outside from their homes to get their medicines.</p>
          <div class="button mt-4 pt-1">
            <button type = "button" class= "btn contact_button">View Project</button>
           </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4 text-center pt-1">
          <img src="../../../../assets/images/drone_mock.svg" width="100%"
          class="img-responsive" alt="logo design">
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>-->
  
  </div>
  
