<div class="container-fluid">
    <div class="hero d-flex h_100 align-items-center">
        <div class="row">
            <div class="col-sm-6 my-auto">
              <div class=" mt-5">
              <div class = "name">
                Cubix Car Rental
              </div>
              <div class = "desc mt-3 col-sm-9 p-0">
            Cubix Cab Booking Application is a car rental solution in which user can bargain with the driver for a fare. And also make payment through e-wallet amount or card amount.   
            </div>
          </div>
    </div>
            <div class="col-sm-6 my-auto ">
                <div class="d-flex justify-content-end mr-4">
                <img src="../../../../assets/images/car_rental_app.svg" width="80%" 
                class="img-responsive mb-5 mt-5" alt="Banner">
            </div>
            </div>
          </div>
        </div>
    </div>

    <div class="d-flex skill_section">
        <div class="container-fluid">
      <div class="mt-5 back-image text-center">
      <div class="name custom_space">Overview</div>
      </div>
      <div class="row mt-4 mb-5 pb-3">
       
            <div class="col-sm-12 d-flex ">
            <div class = " col-sm-8 p-0">
                <div class="card_heading">
          Goal
            </div>
            <div class = "desc mt-3  p-0">
              We already have a lot of Car Rental Application solutions. The gap that I see on these solutions is that people have to pay the fare that is settled by the company and they can not bargain with the driver.            </div>
        </div>
      </div>
     
            <div class="col-sm-12 d-flex ">
            <div class = " col-sm-8 p-0">
                <div class="card_heading mt-5">
          Role
            </div>
            <div class = "desc mt-3  p-0">
       UX Researcher/UX Designer/Prototyper </div>
        </div>
      </div>
     
      
      <div class="col-sm-12 d-flex ">
        <div class = " col-sm-8 p-0">
            <div class="card_heading mt-5">
      User Personas
        </div>
        <div class = "desc mt-3  p-0">
            Based off of 3 informal interviews conducted with my firends and client, I created two personas based off common user goals and pain points. </div>
    </div>
  </div>
  <div class="row  ml-1 mr-1 p-0">
    <div class="col-md-5 mt-5">
        <div class="">
        <img src="../../../../assets/images/aayush_awasthi.svg" width="98%" 
        class="img-responsive" alt="Banner">
    </div>
    <div class="card_heading mt-3">
    Aayush Awasthi, Intern, Cloudlabs
          </div>
          <div class=" mt-3">
         <span class="small_heading">Pain Points: </span><span class="desc">I used to travel daily by cab, and my pain point is that I can't save any amount from my stipend because of high traveling expenses.</span>
        </div>
        <div class=" mt-3">
          <span class="small_heading">Suggestion: </span><span class="desc">Need a solution through which I can save some money.</span>
         </div>
        </div>
<div class="col-md-2"></div>
  <div class="col-md-5 mt-5">
    <div class="">
    <img src="../../../../assets/images/shivani_rana.svg" width="98%" 
    class="img-responsive " alt="Banner">
</div>
<div class="card_heading mt-3">
  Shivani Rana, Banker, HDFC Bank
         </div>
         <div class=" mt-3">
          <span class="small_heading">Pain Points: </span><span class="desc">As a banker, I travel a lot to do my chores, and sometimes my travel expenses exceed the refund limit offered by the bank.
</span>
          </div>
         <div class=" mt-3">
           <span class="small_heading">Suggestion: </span><span class="desc">Need a solution by which I can minimize my travel expenses.</span>
          </div>
</div>

      </div>
    </div>
    </div>
    </div>
    <div class="d-flex hero">
      <div class="container-fluid">
        <div class="col-sm-12 p-0">
    <div class="mt-5 mb-5 back-image text-center">
    <div class="name custom_space">User Flow</div>
  </div>
    </div>
    <div class="col-md-12 mt-3 text-center">
     <a href = "../../../../assets/images/car_rental_user_flow.svg" target="_blank">
      <img src="../../../../assets/images/car_rental_user_flow.svg" width="100%" 
      class="img-responsive " alt="user flow" ></a>
      <div class="mt-3 desc">
        (For better view click on the above Image)
      </div>
    </div>
    </div>
    </div>
        <div class=" mt-4 pt-1 skill_section">
      <div class="container-fluid">
        <div class="col-sm-12 p-0 mt-5">
    <div class="mt-5 back-image text-center">
      <div class="name custom_space">Wireframe</div>
      </div>
      </div>
      <div class="col-sm-12 row">
        <div class = " col-sm-8 p-0">
            <div class="card_heading mt-4">
              Low-Fidelity Wireframes
        </div>
        <div class = "desc mt-3  p-0">
          I created a set of low-fidelity wireframes with very minimal use of images in order to focus on the user experience. I wanted to make sure to focus on usable design before incorporating visual design elements into my work.    </div>
  </div>
  </div>
  </div>

  <div class=" mt-3 text-center">
  <a href = "../../../../assets/images/car_rental_wireframe.svg" target="_blank">
    <img src="../../../../assets/images/car_rental_wireframe.svg" width="80%" 
    class="img-responsive " alt="Low-Fidelity Wireframe" ></a>
  </div>
</div>
<div class=" mt-4">
  <div class="container-fluid">
    <div class="col-sm-12 p-0 mt-5">
<div class="mt-5 back-image text-center">
  <div class="name custom_space">Final Screens</div>
  </div>
  </div>
  <div class="col-sm-12 row">
    <div class = " col-sm-8 p-0">
        <div class="card_heading mt-4">
          High-Fidelity Designs
    </div>
    <div class = "desc mt-3  p-0">
      I used Figma to create high-fidelity designs based off of my wireframes.</div>
</div>
</div>
<div class="col-sm-12 p-0">
  <div class="card_heading mt-4">
    Dark Mode Screens
    </div>
</div>
<div class="mt-4 mb-1 text-center">
<a href = "../../../../assets/images/car_rental_final_dark.svg" target="_blank">
<img src="../../../../assets/images/car_rental_final_dark.svg" width="100%" 
class="img-responsive " alt="High-Fidelity Wireframe" ></a>
</div>
<div class="mt-3 desc text-center">
  To view Prototype, <a (click)="goToDark()" target="_blank" class="hyperlink">Click here </a>
</div>
<div class="col-sm-12 p-0">
  <div class="card_heading mt-4">
    Light Mode Screens
    </div>
</div>
<div class=" mt-4 mb-1 text-center">
<a href = "../../../../assets/images/car_rental_light.svg" target="_blank">
<img src="../../../../assets/images/car_rental_light.svg" width="100%" 
class="img-responsive " alt="High-Fidelity Wireframe" ></a>
</div>
</div>
<div class="mt-4 mb-5 desc text-center">
  To view Prototype, <a (click)="goToLight()" target="_blank" class="hyperlink">Click here </a>
</div>
</div>
