
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg_white">
    <div class="container-fluid conatin bg_white">
      <a class="navbar-brand" href="#">  <img src="../../../../assets/images/logo.svg" width="90%"
        class="img-responsive" alt="brand logo"></a>
        <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav justify-content-end bg_white" [ngbCollapse]="navbarCollapsed" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item custom-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" aria-current="page" routerLink='/'>Home</a>
          </li>
          <li class="nav-item custom-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" routerLink='/allproject'>All Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><button class = "nav-btn" (click)="downloadFile()" >Download CV</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>