


  <div class="hero d-flex col-md-12  h_100 align-items-center">
  <div class="">
      <div class="">
        <div class="container-fluid_sm">
        <div class = "name_text">
  HI THERE MY NAME IS
        </div>
        <div class = "name">
         Shagun Bhardwaj
        </div>
        <div class = "desc mt-3 col-sm-11 p-0 custom_width">
          A UI/UX designer who loves to discuss new ideas and bring them to life.
           My favorite topics in UI/UX are accessibility, usability, and functional design.
        </div>
         <div class="button mt-4 pt-1">
          <button type = "button" class= "btn contact_button" (click)="showhireModal()">Hire Me</button>
         </div>
      </div>
    </div>
      <div class="col-sm-6">
      </div>
    </div>
  </div>
  
  <div class="d-flex skill_section">
    <div class="container-fluid">
  <div class="mt-5 back-image text-center">
  <div class="name custom_space">What I do</div>
  </div>
  <div class="row mt-4 mb-5 pb-3">
    <div class="col-sm-4 custom_margin">
      <div class="card">
        <div class="card-body">
          <div class="text-center pt-3 pb-3">
            <img src="../../../../assets/images/ui_ux.svg" width="50%"
            class="img-responsive" alt="UI UX Design">
          </div>
          <h5 class="card-title card_heading">UI/UX Design</h5>
          <p class="card-text mt-3 desc">I love everything about UX, especially when I use my UX skills to solve a real-world problem.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 custom_margin">
      <div class="card">
        <div class="card-body">
          <div class="text-center pt-3 pb-3">
            <img src="../../../../assets/images/html_css.svg" width="67%"
            class="img-responsive" alt="HTML/CSS">
          </div>
          <h5 class="card-title card_heading">HTML/CSS</h5>
          <p class="card-text desc  mt-3">I love to write UI code using HTML/CSS. Also, my code writing skills help me to interact efficiently with the developers.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 custom_margin">
      <div class="card">
        <div class="card-body">
          <div class="text-center pt-3 pb-3">
            <img src="../../../../assets/images/logo_design.svg" width="50%"
            class="img-responsive" alt="logo design">
          </div>
          <h5 class="card-title card_heading">Brand/Logo Design</h5>
          <p class="card-text desc  mt-3">I love to design a unique logo for clients because a good logo helps to connect a user with the product/brand.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="d-flex hero">
    <div class="container-fluid">
  <div class="mt-5 back-image_select text-center">
  <div class="name custom_space">Selected Projects</div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12">
      <div class="card card_custom">
        <div class="card-body">
       <div class="row">  
        <div class="col-sm-2 img_small"></div>
        <div class="col-sm-4 text-center img_small">
          <img src="../../../../assets/images/qmenu.svg" width="100%"
          class="img-responsive" alt="logo design">
        </div>
      
               <div class="col-sm-6">
          <h5 class="card-title card_heading">Food Ordering Application for Qmenu</h5>
          <p class="card-text desc  mt-3">Qmenu is a startup based in India, they need me to build a solution
             for restaurants and hotels to minimize contact between customers and hotel staff. 
            Also, they require one point of sale solution so that they can keep record of their sale and orders.</p>
          <div class="button mt-4 pt-1">
            <button type = "button" class= "btn contact_button" (click)="goToQmenu()">View Project</button>
           </div>
        </div>
        <div class="col-sm-2 img_big"></div>
        <div class="col-sm-4 text-center pt-1 img_big">
          <img src="../../../../assets/images/qmenu.svg" width="100%"
          class="img-responsive" alt="logo design">
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
  
  <div class="row mt-5 mb-5 pt-2">
    <div class="col-sm-12">
      <div class="card card_custom">
        <div class="card-body">
       <div class="row">  
        <div class="col-sm-2 img_small"></div>
        <div class="col-sm-4 text-center  img_small">
          <img src="../../../../assets/images/car_rental.svg" width="100%"
          class="img-responsive" alt="logo design">
        </div>
               <div class="col-sm-6">
          <h5 class="card-title card_heading">Cubix Car Rental Application</h5>
          <p class="card-text desc  mt-3">We already have a lot of Car Rental Application solutions. 
            The gap that I see on these solutions is that people have to pay the fare that is settled by the company and
             they can not bargain with the driver. 
            That's why I made a solution in which people can also make an offer. </p>
          <div class="button mt-4 pt-1">
            <button type = "button" class= "btn contact_button" (click)="goToCubix()">View Project</button>
           </div>
        </div>
        <div class="col-sm-2 img_big"></div>
        <div class="col-sm-4 text-center pt-1 img_big">
          <img src="../../../../assets/images/car_rental.svg" width="100%"
          class="img-responsive" alt="logo design">
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>



  
<!--  
  <div class="row mt-5 mb-5 pb-5  pt-2">
    <div class="col-sm-12">
      <div class="card card_custom">
        <div class="card-body">
       <div class="row">  
               <div class="col-sm-6">
          <h5 class="card-title card_heading">FlyMed Drone Delivery Solution</h5>
          <p class="card-text desc  mt-3">During a pandemic, people faced a lot of trouble in ordering medicines. So keeping this in mind I made a  "FlyMed" Drone Delivery solution so that people do not have to go outside from their homes to get their medicines.</p>
          <div class="button mt-4 pt-1">
            <button type = "button" class= "btn contact_button">View Project</button>
           </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4 text-center pt-1">
          <img src="../../../../assets/images/drone_mock.svg" width="100%"
          class="img-responsive" alt="logo design">
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
  
  </div>-->
  
  <!--Form Modal
  <div class="modal fade show popupbackdrop" *ngIf="hireModal">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body mb-2">
           <div class="d-flex">
              <div class="row col-md-11">
                <img src="../../../../assets/images/icon_modal.svg" width="30%"
                class="img-responsive modal-icon" alt="Modal Icon">
              </div>
              <button type="button" class="close float-end" data-dismiss="modal" aria-label="Close"
                  (click)="showhireModal()">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
                <div class = " padding-custom">
                  <div class = "name">Let's Talk!</div>
                  <div class = "desc mt-3">I will get back to you within one to two days through email. Also please don't forget to check your spam account just in case!</div>
                  <form action="https://formsubmit.co/ssharma998855@gmail.com" method="POST">
                    <input type="hidden" name="_captcha" value="false">
                   <input type="hidden" name="_next" value="http://localhost:4200/Portfolio/src/app/thank-you/thank-you.component.html">
                  <div class="group row mt-4">
                    <input class="row ft-input" type="text" required name="Name">
                    <span class="highlight row"></span>
                    <span class="bar row"></span>
                    <label class="row input_label">Name*</label>
              </div>
              <div class="group row mt-4">
                <input class="row ft-input" type="email" required name="email">
                <span class="highlight row"></span>
                <span class="bar row"></span>
                <label class="row input_label">Email*</label>
          </div>
          <div class="group row mt-4">
            <input class="row ft-input" type="text" required name="_subject">
            <span class="highlight row"></span>
            <span class="bar row"></span>
            <label class="row input_label">Subject*</label>
      </div>
      <div class="form-group sb-group mt-4 mb-4">
        <div class="text-group">
           <textarea required="required" class="form-control" rows="4" name="message" required></textarea>
           <label for="textarea" class="input-label">Message*</label><i class="bar"></i>
        </div>
     </div>
  <div class="button text-center mt-4 pt-1 mb-5">
    <button type = "submit" class= "nav-btn" (click)="showThankyou()">Send Request</button>
   </div>
   </form>

            </div>
        </div>
    </div>
    </div>
    </div>
    </div>


     <!--Thank You Modal-->
  <div class="modal fade show popupbackdrop" *ngIf="hireModal">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body mb-2">
           <div class="d-flex">
              <div class="row col-md-11">
                <img src="../../../../assets/images/icon_modal.svg" width="30%"
                class="img-responsive modal-icon" alt="Modal Icon">
              </div>
              <button type="button" class="close float-end" data-dismiss="modal" aria-label="Close"
                  (click)="showhireModal()">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class = " padding-custom row justify-content-center">
              <div class = "card_heading">Email: <span class="card-text"> <a href="mailto:ssharma998855@gmail.com"> ssharma998855@gmail.com</a></span> </div>
            </div>
              <div class="button mt-4 pt-1 mb-5 text-center padding-custom">
                <button type = "button" class= "btn contact_button mb-5" (click)="showThankyou()">Okay</button>
               </div>
         
    </div>
    </div>
    </div>